<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player page</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <h1>Player page</h1>
    <div id="main">
        <div id="form-div">
            <h2>Select a player to modify or delete</h2>
            <form action="#" th:action="@{/deletePlayer}" th:object="${playerRestModel}" method="post" id="player-page-form">
                <select th:field="*{playerUUID}" id="playerPagePlayerDropDown">
                    <option value="0">Select player</option>
                    <option th:each="player : ${players}" th:value="${player.uuid}" th:text="${player.name}"></option>
                </select>

                <p>Name: <input type="text" id="name" /></p>
                <p>Age: <input type="number" id="age" /></p>

                <input type="submit" value="Delete" id="delete-player-button" />
            </form>
            <button id="modify-player-button" onclick="modifyPlayer()">Modify</button>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/player.js"></script>
</body>
</html>
