<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz page</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <h1>Quiz page</h1>
    <h2>Now playing: <p th:text="${quizPagePlayerModel.name}"></p></h2>
    <div th:if="${quizPagePlayerModel.resultModel == null}">
        <div th:if="${quizPagePlayerModel.quizPageTriviaModelList == null}">
            <h3>How many questions would you like to answer? (Max. 10)</h3>
            <form action="#" th:action="@{/getTrivia}" th:object="${quizPageNumberOfTriviaModel}" method="post">
                <p>Number of questions: <input type="number" id="number-of-trivia" min="1" max="10" th:field="*{numberOfTrivia}"/></p>

                <input type="submit" value="Submit">
            </form>
        </div>
        <div th:unless="${quizPagePlayerModel.quizPageTriviaModelList == null}">
            <h3>Questions:</h3>
            <form action="#" th:action="@{/getAnswers}" th:object="${quizPagePlayerAnswers}" method="post">
                <div th:each="quizPageTriviaModel, itemStat : ${quizPagePlayerModel.quizPageTriviaModelList}">
                    <div class="question">
                        <input type="hidden" th:value="${quizPageTriviaModel.uuid}" th:attr="name='quizPageAnswerModelList[' + ${itemStat.index} + '].triviaUUID'"/>
                        <p th:text="${quizPageTriviaModel.category}"></p>
                        <p th:text="${quizPageTriviaModel.type}"></p>
                        <p th:text="${quizPageTriviaModel.difficulty}"></p>
                    </div>
                    <div class="question">
                        <p th:text="${quizPageTriviaModel.question}"></p>
                        <p th:text="${quizPageTriviaModel.correctAnswer}"></p>
                    </div>
                    <div class="question" th:each="possibleAnswer : ${quizPageTriviaModel.allAnswers}">
                        <input type="radio" th:value="${possibleAnswer}" th:field="*{quizPageAnswerModelList[__${itemStat.index}__].selectedAnswer}"/>
                        <p th:text="${possibleAnswer}"></p>
                    </div>
                </div>

                <input type="submit" id="answers-submit-button" value="Submit Answers" />
            </form>
        </div>
    </div>
    <div th:unless="${quizPagePlayerModel.resultModel == null}">
        <h3>Results:</h3>
        <table>
            <tr>
                <th>Category</th>
                <th>Type</th>
                <th>Difficulty</th>
                <th>Question</th>
                <th>Correct Answer</th>
                <th>Your Answer</th>
                <th>Answered Correctly</th>
                <th>Point</th>
            </tr>
            <div th:each="answerResultModel : ${quizPagePlayerModel.resultModel.answerResultModelList}">
                <tr>
                    <td th:text="${answerResultModel.categoryName}"></td>
                    <td th:text="${answerResultModel.type}"></td>
                    <td th:text="${answerResultModel.difficulty}"></td>
                    <td th:text="${answerResultModel.question}"></td>
                    <td th:text="${answerResultModel.correctAnswer}"></td>
                    <td th:text="${answerResultModel.selectedAnswer}"></td>
                    <td th:text="${answerResultModel.answeredCorrectly}"></td>
                    <td th:text="${answerResultModel.point}"></td>
                </tr>
            </div>
        </table>
        <h3>All gained points:</h3>
        <p th:text="${quizPagePlayerModel.resultModel.gainedPoints}"></p>
    </div>
    </div>
</body>
</html>
