<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <h1>Registration page</h1>
    <div id="main">
        <div id="form-div">
            <h2>Register a new player:</h2>
            <form id="register-player-form">
                <p>Name: <input type="text" minlength="2" maxlength="20" id="name" /></p>
                <p>Age: <input type="number" min="1" max="120" id="age" /></p>

                <input type="submit" value="Register player" id="register-button">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/register.js"></script>
</body>
</html>
